*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 150vh;
    background: url(../img/imagen6.jpg); 
    font-family: 'Share Tech', sans-serif;
    min-width: 1200px;
    position: relative;
}

.categorias {
    width: 500px;
    background: none; 
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    font-family: 'Share Tech', sans-serif;
    color: rgb(250, 250, 250);
}

.categorias h1 {
    font-size: 55px;
}

.categorias h3 {
    font-size: 22px;
}

.categorias p {
    font-size: 18px;
}

.categorias input {
    width: 80%;
    padding: 5px;
    font-size: 15px;
    background: none;
    margin-bottom: 0px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: rgb(255, 255, 255);
}

.categorias .submit {
    width: auto;
    padding: 10px;
    background: #ff4321;
    color: #fff;
    font-size: 12px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.categorias button {
    padding: 0 5px;
    width: 140px;
    height: 35px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-color: #ff4321;
    border-radius: none;
    transition: width 0.5s;
}

.categorias button:hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.label {
    font: 1rem 'Fira Sans', sans-serif;
}

.chkbx {
    margin: .4rem;
    width: 20px !important;
}