*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(../img/imagen5.jpg); 
    font-family: 'Share Tech', sans-serif;
    min-width: 1200px;
    position: relative;
}

.resumen {
    width: 950px;
    height: 510px;
    background: none;
    color: rgb(3, 3, 3);
    top: 50%;
    left: 61%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    font-family: 'Share Tech', sans-serif;
}

.resumen table {
    width: 100%;
    text-align: center;
    background-color: white;
    border-collapse: collapse;
}

.resumen th, td {
    padding: 15px;
    font-size: 16px;
}

.resumen thead {
    background-color: #7691db;
    border-bottom: solid 5px #a8a8a8;
    color: white;
}

.categorias {
    width: 350px;
    height: 400px;
    background: none;
    color: rgb(3, 3, 3);
    top: 50%;
    left: 13%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    font-family: 'Share Tech', sans-serif;
}

.categorias table {
    width: 100%;
    text-align: center;
    background-color: white;
    border-collapse: collapse;
}

.categorias th, td {
    padding: 15px;
    font-size: 16px;
}

.categorias thead {
    background-color: #859fe7;
    border-bottom: solid 5px #a8a8a8;
    color: white;
}

tr:nth-child(even){
    background-color:#ddd;
}

tr:hover{
    background-color: rgb(241, 122, 101);
    color: white;
}