*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link {
    color: black;
}

body {
    background: url(../img/imagen15.jpeg); 
}

.container {
    width: 100%;
    height: 100vh;
    font-family: 'Share Tech', sans-serif;
    min-width: 1200px;
    position: relative;
    margin-bottom: 50px;
}

.gastos {
    width: 600px;
    height: 500px;
    background: none;
    color: #fff;
    top: 47%;
    left: 27%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    font-family: 'Share Tech', sans-serif;
}

.gastos h1 {
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.gastos p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.gastos h2 {
    font-size: 17px;
    color: #000000;
}

.gastos .submit {
    width: auto;
    padding: 5px;
    background: #ff4321;
    color: #fff;
    font-size: 12px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.gastos input {
    width: 60%;
    padding: 5px;
    font-size: 14px;
    background: none;
    margin-bottom: 0px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #838383;
    color: rgb(0, 0, 0);
}

.gastos select {
    background: #e9e9e9;
}

.gastos-editar {
    width: 600px;
    height: 500px;
    background: none;
    color: rgb(3, 3, 3);
    top: 47%;
    left: 77%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    font-family: 'Share Tech', sans-serif;
}

.gastos-editar h1 {
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.gastos-editar p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.gastos-editar h2 {
    font-size: 17px;
    color: #000000;
}

.gastos-editar .submit {
    width: auto;
    padding: 5px;
    background: #ff4321;
    color: #fff;
    font-size: 12px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.gastos-editar input {
    width: 60%;
    padding: 5px;
    font-size: 14px;
    background: none;
    margin-bottom: 0px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #838383;
    color: rgb(0, 0, 0);
}

.gastos-editar select {
    background: #e9e9e9;
}