*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height: 100vh;
    background: url(../img/imagen3.jpg); 
    font-family: 'Share Tech', sans-serif;
    min-width: 1200px;
    position: relative;
}

header{
    position: absolute;
    bottom: 30%;
    padding: 0 50px;
}

header h1{
    font-size: 7rem;
    color: rgb(0, 0, 0);
}
header h2{
    font-size: 4rem;
    color: rgb(0, 0, 0);
}
header p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}
header button{
    padding: 0 5px;
    width: 140px;
    height: 40px;
    border: 0;
    outline: none;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: #ff4321;
    border-radius: 5px;
    /*transition: width 0.5s;*/
}
button img{
    display: none;
}
button:hover img{
    display: block;
}
/*header button:hover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}*/
button a{
    color: white;
    text-decoration: none;
}

