.container10{
    width: 600;
    height: 400;
    font-family: 'Share Tech', sans-serif;
    position: relative;
}

.informativo {
    width: 600px;
    height: 400px;
    background: url(../img/imagen11.jpg);
    color: #fff;
    
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    font-family: 'Share Tech', sans-serif;
}

.informativo h1{
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.informativo p{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.informativo h2{
    font-size: 17px;
    color: #000000;
}

.informativo .submit{
    width: auto;
    padding: 5px;
    background: #ff4321;
    color: #fff;
    font-size: 12px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}