*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

body{
    background: url(../img/imagen1.jpg); 
}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    width: 650px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.register, .login{
    flex: 1;    
}

.register{
    padding: 40px;
    position: relative;
}

.register h2 {
    color: #797979;
    margin-bottom: 30px;
    text-align: left;
}

.register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}

.register:active,
.register:focus{
    outline: none;
}

.register .submit{
    width: auto;
    padding: 10px;
    background: #ff4321;
    color: #fff;
    font-size: 12px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.register::after{
    content: '>';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: -23px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0,0,0,.2);
    color: #333;
}

.login{
    background-image: linear-gradient(to bottom right, #e9e5d4, #e9e5d4);
    padding: 40px;
}

.login h2{
    color: #7c7c7c;
    margin-bottom: 45px;
}

.login input{
    width: 100%;
    padding: 5px;
    font-size: 13px;
    margin-bottom: 30px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}

.login:active,
.login:focus{
    outline: none;
}

.login .submit{
    width: auto;
    padding: 10px;
    background: #ff4321;
    color: #fff;
    font-size: 12px;
    box-shadow:  0 0 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}