nav {
    padding: 20px 50px;
    display: block;
    align-items: center;
    justify-content: space-between;
}

ul li {
    display: inline-block;
    color: white;
    list-style: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

ul li:hover {
    background-color: #ff4321;
    border-radius: 5px;
    text-decoration: none;
}

.link {
    color: white;
    font-size: 20px;
}